<?php

return array(
        'dms-conf' => array(
                'size_allowed' => array(
                        array('width' => 300, 'height' => 200),
                        array('width' => 300, 'height' => 300),
                        array('width' => 150, 'height' => 100),
                        array('width' => 80, 'height' => 80),
                        array('width' => 300),
                ),
                'check_size_allowed' => false,
                'default_path' => 'upload/',
                'adapter' => 'http-adapter',
                'convert' => array(
                		'tmp' => '/tmp/',
                ),
                'headers'=> array(
                        'Access-Control-Allow-Origin'=>'http://local.wow.in',
                        'Access-Control-Allow-Credentials'=>'true'
                ),
                'storage' => [
                	'name' => 's3',
                	'bucket' => 'NAME-BUCKET',
                	'bucket_upload' => 'NAME-BUCKET',
                	'options' => [
                		'version' => 'latest',
                    	'region' => '',
                    	'credentials' => [
                        	'key'    => '',
                        	'secret' => '',
                    	]
                	]
                ],
              /*  'storage' => [
                	'name' => 'gs',
                	'bucket' => 'NAME-BUCKET',
                	'credentials_file' => 'tagncar-c26f3232cbb7.json',
                	'options' => [
                    	'projectId' => *****
                  ]
                ]*/

        ),
);
